<div class="flex justify-center">
  <div class="px-4 2xl:pt-10">
    <div class="flex justify-center">
      <%= image_pack_tag "top_title.png", class: "w-3/4 lg:w-5/6" %>
    </div>
    <p class="text-gray-600 text-md lg:text-lg text-center">
      購入したいものをランキング形式で提示して<br>無駄遣いを減らすサービス
    </p>
    <div class="flex justify-end py-3 lg:py-0">
      <%= image_pack_tag "top_money.png", size: "100x100" %>
    </div>
    <div class="flex justify-center">
      <%= image_pack_tag "top_rank.png", size: "300x300" %>
    </div>

    <% if current_user == nil || current_user.guest? %>
      <div class="flex justify-center">
        <%= button_to "はじめる", guest_path, method: :post, class: "cursor-pointer text-white bg-gradient-to-r from-yellow-300 via-yellow-400 to-yellow-500 hover:bg-gradient-to-br focus:ring-4 focus:ring-yellow-300 dark:focus:ring-yellow-800 font-medium rounded-lg text-md 2xl:text-lg px-5 2xl:px-10 px- py-2.5 text-center mr-2 mb-2 2xl:my-5" %>
      </div>
    <% else %>
      <div class="flex justify-center">
        <%= button_to "欲しいものリストへ", items_path, method: :get, class: "text-white bg-gradient-to-r from-yellow-300 via-yellow-400 to-yellow-500 hover:bg-gradient-to-br focus:ring-4 focus:ring-yellow-300 dark:focus:ring-yellow-800 font-medium rounded-lg text-md 2xl:text-lg px-7 2xl:px-10 py-2.5 text-center mr-2 mb-2 2xl:my-5" %>
      </div>
      <div class="flex justify-center">
        <%= button_to t('items.new.add_item'), new_item_path, method: :get, class: "text-white bg-gradient-to-r from-yellow-300 via-yellow-400 to-yellow-500 hover:bg-gradient-to-br focus:ring-4 focus:ring-yellow-300 dark:focus:ring-yellow-800 font-medium rounded-lg text-md 2xl:text-lg px-5 2xl:px-10 py-2.5 text-center mr-2 mb-2 2xl:my-5" %>
      </div>
    <% end %>
  </div>
</div>
