<div class="flex justify-center my-5 py-5">
  <h1 class="text-xl lg:text-4xl text-gray-600 font-semibold"><%= t('.title') %></h1>
</div>

<div class="flex justify-center">
  <div class="bg-white w-1/3 p-4 shadow-lg overflow-hidden sm:rounded-lg">
    <div class="m-7">
      <%= form_with model: @user, url: profiles_path, local: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
        <div class="mb-4">
          <%= f.label :name, class: "block mb-2 text-sm text-gray-600 dark:text-gray-400" %>
          <%= f.text_field :name, class: "w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-yellow-100 focus:border-yellow-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" %>
          <p class= "text-sm text-gray-400">例：ほしみん</p>
        </div>
        <div class="mb-4">
          <%= f.label :email, class: "block mb-2 text-sm text-gray-600 dark:text-gray-400" %>
          <%= f.email_field :email, class: "w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-yellow-100 focus:border-yellow-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" %>
          <p class= "text-sm text-gray-400">例：hoshime@example.com</p>
        </div>
        <div class="mb-6">
          <%= f.submit class: "cursor-pointer w-full p-2 lg:p-2 text-white text-lg lg:text-xl bg-yellow-500 rounded-md focus:bg-yellow-600 focus:outline-none" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
